# Data structures

Question maximum grade and whether it is a mandatory question or not

| column      | description                        |
|-------------|------------------------------------|
| QID         | Question id                        |
| maxGrade    | The maximum grade for the question |
| mandatory   | 1: True  0: False                  |

Students' information

| column      | description                        |
|-------------|------------------------------------|
| CP          | The id of the student              |
| track       | Specific course track              |

Exam information

| column      | description                        |
|-------------|------------------------------------|
| EID         | Exam identification                |
| QID         | Question id                        |


Students' outcomes

| column      | description                        |
|-------------|------------------------------------|
| CP          | The id of the student              |
| Q01         | The grade for question Q01         |
| ...         | ....                               |
| Q20         | The grade for question Q20         |

In [1]:
# libraries
import pandas as pd

STUDENTS_FILE = "files/pd.exams.students.csv"
EXAMS_FILE = "files/pd.exams.exams.csv"
QUESTION_FILE = "files/pd.exams.questions.csv"
#OUTCOMES_FILE = "files/pd.exams.results.csv"
RESULTS_FILE = "files/pd.exams.results.tidy.csv" #"files/pd.exams.results.csv"

# loading data
dfs = pd.read_csv(STUDENTS_FILE)
dfq = pd.read_csv(QUESTION_FILE)
dfr = pd.read_csv(RESULTS_FILE)
dfe = pd.read_csv(EXAMS_FILE)

In [2]:
# create a tabular view of the exams

NameError: name 'dfo' is not defined

In [81]:
# preview questions information
ds

           CP track
0    11059001   M1A
1    10721537   M1A
2    10982920   M1B
3    11078539   M1A
4    10973270   M1B
..        ...   ...
124  10913225   M1B
125  10929198   M1A
126  10820370   M1C
127  10987223   M1B
128  11005111   M1A

[129 rows x 2 columns]

In [24]:
# preview outcomes information
dfo

,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20
CP,,,,,,,,,,,,,,,,,,,,
11059001,5.0,2.0,7.0,0.0,NaN,NaN,NaN,NaN,4.0,6.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10721537,2.0,5.0,4.0,5.0,6.0,1.0,7.0,2.0,8.0,4.0,1.0,7.0,8.0,5.0,5.0,6.0,NaN,NaN,NaN,NaN
10982920,4.0,7.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5.0,7.0,6.0,NaN,NaN,NaN,NaN
11078539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,4.0,8.0,6.0
10973270,8.0,4.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10913225,4.0,7.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10929198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6.0,5.0,6.0,NaN,NaN,NaN,NaN
10820370,5.0,6.0,2.0,2.0,6.0,1.0,5.0,4.0,1.0,3.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10987223,6.0,4.0,2.0,4.0,6.0,7.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11005111,8.0,1.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Question
How many students are enrolled in the class?

## Question
How many students have taken the exam at least once?

## Question
How many students did not take any exam?

## Question
For the entire class (all exams), what is the highest grade, the lowest (passing) grade, the average  (2 decimal digits) and median grades?

## Question
For each exam, what is the highest grade, the lowest (passing) grade, the average  (2 decimal digits) and median grades?

## Question
For each exam, how many students have attended the exam?

## Question
For each exam, how many students have passed the exam?

## Question
Create a dataframe that shows for each exam, the number of students who attended, passed and the ratio

## Question
At the end of the year, looking at the final grade, what is the highest grade, the lowest (passing) grade, the average  (2 decimal digits) and median grades?

## Question
Overall, how many students have passed the exam?

## Question
What are the ratio of students passing with respect to enrolled students and with respect to student taking the exam?

## Question
Display the students who passed the exam (CP) and their grade

## Question
On average, how many exams did each student take to pass the exam with the _desired_ grade?

## Question
For the entire class, how many students repeated the exam at least once?

## Question
For each question, which is the highest and lowest grade?

## Question
For each question, what is the average grade?

In [4]:
## Question
# How many students are enrolled in the class?

numStudentsEnrolled = len(dfs)
print(numStudentsEnrolled)

130

In [5]:
## Question
# How many students have taken the exam at least once?

numStudentsTakenExam = len(dfr['CP'].unique())
print(numStudentsTakenExam)

122

In [32]:
## Question
# How many students did not take any exam?
numStudentsNoExams = numStudentsEnrolled - numStudentsTakenExam
print(numStudentsNoExams)

8

In [15]:
# In several questions we need to have the information on the grades per student per exam
# I prepare the dataframe that has this information

# 1. add the information on the exam to the result dfr
# 2. compute the grade for each student / exam

# combine dfr and dfe to add the info about the exam each question belongs to > merge
dfre = dfr.merge(dfe,left_on='question', right_on='QID').drop(['QID'], axis=1)
# for each student exam pair, compute the grade by adding the values of the questions > groupby
# resetting the index to get a flat table
# dfres = dfre.groupby(['CP','EID']).agg({'value': "sum"}).reset_index()
# renaming the column for clarity
# dfres.rename(columns={'value':'grade'}, inplace=True)
# or equivalent and more compact
# 
dfres = dfre.groupby(['CP','EID'])['value'].sum().reset_index(name='grade')

print(dfres)

           CP EID  grade
0    10545266  E2   13.0
1    10614652  E2   12.0
2    10614652  E3   15.0
3    10614652  E4   26.0
4    10721537  E1   16.0
..        ...  ..    ...
169  11086897  E3    9.0
170  11965339  E1   13.0
171  11965339  E2   13.0
172  11965339  E4   10.0
173  11965339  E5   13.0

[174 rows x 3 columns]

In [20]:
## Question
# For the entire class (all exams), what is the highest grade, the lowest (passing) grade, the average (2 decimal digits) and median grades?

passing = dfres[dfres['grade'] > 17]['grade']

# Solution 1: use describe and extra
stats = passing.describe()
avgGradeYear = round(stats['mean'], 2)
minGradeYear = stats['min']
maxGradeYear = stats['max']
medGradeYear = stats['50%']

print(maxGradeYear, minGradeYear, avgGradeYear, medGradeYear)

# Solution 2: compute
# I want to have the values > min, max, median, mean
minGradeYear = passing.min()
maxGradeYear = passing.max()
avgGradeYear = round(passing.mean(), 2)
medGradeYear = passing.median()

print(maxGradeYear, minGradeYear, avgGradeYear, medGradeYear)

# Solution 3:
stats = passing.agg(['min', 'max', 'mean', 'median'])
avgGradeYear = round(stats['mean'], 2)
minGradeYear = stats['min']
maxGradeYear = stats['max']
medGradeYear = stats['median']
print(maxGradeYear, minGradeYear, avgGradeYear, medGradeYear)

30.0 18.0 23.53 24.0
30.0 18.0 23.53 24.0
30.0 18.0 23.53 24.0

In [23]:
## Question
# For each exam, what is the highest grade, the lowest (passing) grade, the average (2 decimal digits) and median grades?

# it is necessary to get the information BY exam > groupby extracting the statistical elements we need
dfres[dfres['grade'] > 17][['EID','grade']].groupby(['EID']).agg(['min', 'max', 'mean', 'median'])
# or 
result = dfres[dfres['grade'] > 17].groupby('EID')['grade'].agg(
    minGrade='min',
    maxGrade='max',
    avgGrade=lambda x: round(x.mean(), 2),
    medGrade='median'
)
result

     minGrade  maxGrade  avgGrade  medGrade
EID
E1       18.0      30.0     23.85      24.0
E2       18.0      30.0     24.14      24.0
E3       18.0      30.0     22.06      21.0
E4       19.0      30.0     23.47      24.0
E5       18.0      30.0     23.44      24.0

In [24]:
dfres

           CP EID  grade
0    10545266  E2   13.0
1    10614652  E2   12.0
2    10614652  E3   15.0
3    10614652  E4   26.0
4    10721537  E1   16.0
..        ...  ..    ...
169  11086897  E3    9.0
170  11965339  E1   13.0
171  11965339  E2   13.0
172  11965339  E4   10.0
173  11965339  E5   13.0

[174 rows x 3 columns]

In [30]:
# create a tabular view of the exams for each student, including those who have never attended an exam 

# reshape the table > pivot
dfse = dfres.pivot(index='CP', columns='EID', values='grade').reset_index()
# add the students with no exam
dfse_all = pd.merge(dfs, dfse, how="left")
dfse_all

           CP track    E1    E2    E3    E4    E5
0    11059001   M1A  14.0   NaN  24.0   NaN   NaN
1    10721537   M1A  16.0  16.0  20.0  24.0   NaN
2    10982920   M1B  20.0   NaN   NaN  25.0   NaN
3    11078539   M1A   NaN   NaN   NaN   NaN  25.0
4    10973270   M1B  23.0   NaN   NaN   NaN   NaN
..        ...   ...   ...   ...   ...   ...   ...
125  10913225   M1B  25.0   NaN   NaN   NaN   NaN
126  10929198   M1A   NaN   NaN   NaN  24.0   NaN
127  10820370   M1C  15.0  16.0  18.0   NaN   NaN
128  10987223   M1B  16.0  26.0   NaN   NaN   NaN
129  11005111   M1A  22.0   NaN   NaN   NaN   NaN

[130 rows x 7 columns]

In [46]:
## Add a column with the final grade if they passed

# exam names
examlist = dfe['EID'].unique()
examlist_rev = list(reversed(examlist)) #first the most recent exam

def getLatestPassingGrade(row):
    # for every exam outcome
    for exam in examlist_rev:
        # if there is a value (it is not a NaN) and is sufficient
        if pd.notna(row[exam]) and row[exam] >= 18:
            # that is the grade we are looking for
            return row[exam]
    # no valid grade
    return None

# for all rows, apply the function  getLatestPassingGrade
dfse_all['finalGrade'] = dfse_all.apply(getLatestPassingGrade, axis=1)
dfse_all

           CP track    E1    E2    E3    E4    E5  finalGrade  final_grade
0    11059001   M1A  14.0   NaN  24.0   NaN   NaN        24.0         24.0
1    10721537   M1A  16.0  16.0  20.0  24.0   NaN        24.0         24.0
2    10982920   M1B  20.0   NaN   NaN  25.0   NaN        25.0         25.0
3    11078539   M1A   NaN   NaN   NaN   NaN  25.0        25.0         25.0
4    10973270   M1B  23.0   NaN   NaN   NaN   NaN        23.0         23.0
..        ...   ...   ...   ...   ...   ...   ...         ...          ...
125  10913225   M1B  25.0   NaN   NaN   NaN   NaN        25.0         25.0
126  10929198   M1A   NaN   NaN   NaN  24.0   NaN        24.0         24.0
127  10820370   M1C  15.0  16.0  18.0   NaN   NaN        18.0         18.0
128  10987223   M1B  16.0  26.0   NaN   NaN   NaN        26.0         26.0
129  11005111   M1A  22.0   NaN   NaN   NaN   NaN        22.0         22.0

[130 rows x 9 columns]

In [51]:
## Question
# At the end of the year, looking at the final grade, what is the highest grade, 
# the lowest (passing) grade, the average  (2 decimal digits) and median grades?

finalResult = dfse_all['finalGrade'].agg(
    minGradeYear='min',
    maxGradeYear='max',
    avgGradeYear=lambda x: round(x.mean(), 2),
    medGradeYear='median')
print(finalResult['minGradeYear'],finalResult['maxGradeYear'],finalResult['avgGradeYear'],finalResult['medGradeYear'])

18.0 30.0 23.88 24.0

In [ ]:
## Question
# How many students did not take any exam?
dfnoexams = dfse_all[dfse_all[['E1', 'E2', 'E3', 'E4', 'E5']].isna().all(axis=1)]
print(len(dfnoexams))

In [53]:
## Question
# Overall, how many students have passed the exam?

numPassedStudents = dfse_all['final_grade'].notna().sum()
print(numPassedStudents)

105

In [55]:
## Question
# Display the students who passed the exam (CP) and their grade

dfse_all[dfse_all['finalGrade']>=18][['CP','finalGrade']]

           CP  finalGrade
0    11059001        24.0
1    10721537        24.0
2    10982920        25.0
3    11078539        25.0
4    10973270        23.0
..        ...         ...
125  10913225        25.0
126  10929198        24.0
127  10820370        18.0
128  10987223        26.0
129  11005111        22.0

[105 rows x 2 columns]

In [58]:
## Question
# What are the ratio of students passing with respect to enrolled students and with respect to student taking the exam?

ratioPassedEnrolled = round(numPassedStudents*100 / numStudentsEnrolled, 2)
ratioPassedExisting = round(numPassedStudents*100 / numStudentsTakenExam, 2)
print(ratioPassedEnrolled, ratioPassedExisting)

80.77 86.07

In [61]:
## Question
# On average, how many exams did each student take to pass the exam with the _desired_ grade?

def countExamsPerStudent(row):
    # for every exam outcome
    num = 0
    for exam in examlist:
        if pd.notna(row[exam]):
            num += 1
    # no valid grade
    return num
# add a new column   
dfse_all['numExams'] = dfse_all.apply(countExamsPerStudent, axis=1)

avgNumExamsPerStudent = dfse_all['numExams'].mean()
avgNumExamsPerStudent

1.3384615384615384

In [62]:
## Question
# For the entire class, how many students repeated the exam at least once?

print(len(dfse_all[dfse_all['numExams'] > 1]))

34

In [58]:
## Question
# For each exam, how many students have attended the exam?

exam_attended = dfres.groupby(['EID']).count().reset_index()

# visualisation in a user-friendly way
print('Exam','\t','Participants')
for i in range(0, len(res)): 
    print(res.at[i, 'EID'],'\t', res.at[i, 'CP'])

Exam 	 Participants
E1 	 41
E2 	 22
E3 	 16
E4 	 19
E5 	 18

In [59]:
## Question
# For each exam, how many students have passed the exam?

exam_passed = dfres[dfres['grade'] > 17].groupby(['EID']).count().reset_index()

# visualisation in a user-friendly way
print('Exam','\t','Passed')
for i in range(0, len(res)): 
    print(res.at[i, 'EID'],'\t', res.at[i, 'CP'])

Exam 	 Passed
E1 	 41
E2 	 22
E3 	 16
E4 	 19
E5 	 18

In [73]:
## Question
# Create a dataframe that shows for each exam, the number of students who attended, passed and the ratio
dfexams = pd.concat([exam_attended[['EID','CP']].rename(columns={'CP': 'Attended'}),exam_passed[['CP']].rename(columns={'CP': 'Passed'})], axis=1)
dfexams['Ratio'] = round(dfexams['Passed']*100/dfexams['Attended'],2)
dfexams

  EID  Attended  Passed  Ratio
0  E1        67      41  61.19
1  E2        35      22  62.86
2  E3        24      16  66.67
3  E4        21      19  90.48
4  E5        27      18  66.67

In [30]:
## Question
# How many students have passed the exams?

# need to get the grade for each student, for each exam
# 3. get the latest grade (sort by exam name)
# 4. compute how many of the latest grades are >= 18

          CP EID  value
0   10614652  E3   10.0
1   10614652  E4   26.0
2   10721537  E3   12.0
3   10721537  E4   24.0
4   10772862  E3   15.0
..       ...  ..    ...
67  11085897  E4   20.0
68  11085914  E5   17.0
69  11086897  E3    8.0
70  11965339  E4   10.0
71  11965339  E5   13.0

[72 rows x 3 columns]

In [ ]:
# I need to get for each student the highest EID and corresponding value